<launch>
  <arg name="joy2twist_params_file" default="$(find joy2twist)/config/joy2twist.yaml" />

  <node name="f710_joy_node" pkg="joy" type="joy_node">
    <param name="autorepeat_rate" type="double" value="10" />
  </node>

  <include file="$(find joy2twist)/launch/joy2twist.launch">
    <arg name="joy2twist_params_file" value="$(arg joy2twist_params_file)" />
  </include>

</launch>